# Dependencias de Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de compilación y temporales
*.temp.html

# Archivos de sistema macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Archivos de sistema Windows
Thumbs.db
desktop.ini
